html,
body {
  margin: 0;
  padding: 0;
  min-width: 98vw;
  background-color: black;
  /* font-size: 62.5%; */
  /* caret-color: whitesmoke; */
}

#root {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.main-content-container.true {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 2em;
}

.navbar {
  position: sticky;
  top: 10px;
}

.home.tweets.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border-left: .2px solid grey;
  border-right: .2px solid grey;
}
