.signup-form-container {
  width: 600px;
  max-width: 600px;
  height: 800px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.exit-icon {
  width: 1em;
  cursor: pointer;
  height: fit-content;
}
.top-row.container {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  width: 100%;
}

.button.signup.form {
  min-width: 75%;
}

.sign-up.cat-icon {
  width: 7%;
  position: relative;
  left: 45%
}


.button.signup.form:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.signup-form.input-fields {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 75%;
  padding: 1em;
  margin: 0;
}

form.sign-up {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 85%;
}

span.signup-errors {
  display: block;
  font-size: .7rem;
  padding-left: .6em;
  margin: .2em 0px;
  min-height: 1.2em;
}

input.input {
  width: 98%;
  height: 2.1em;
  background-color: black;
  border: 1px solid grey;
  border-radius: .3em;
  color: white;
  padding-left: 1em;
  margin: .3em 0;
}

.signup-header {
  text-align: center;
  margin: 0;
}

.signup-header h1 {
  margin: 0;
}

input.inputs::placeholder {
  color: red;
}

.signup-form.input-fields {
  min-width: 90%;
}

.input-wrapper {
  width: 100%;
}

.login-text {
  color: #189BEE;
  cursor: pointer;
  margin-left: .6em;
}

.username-cond-error {
  color: red;
}
.first-name.first-name-cond-error {
  color: red;
}
