.new-tweet-container.comment {
  width: 95%;
  /* border: 1px solid green; */
}

.replying-to.content > span:first-child {
  color: #757575;
}
.replying-to.content > span:nth-child(2) {
  color: #1B9BEF;
}

.replying-to.content {
  position: relative;
  top: 1em;
  font-size: .9rem;
}

.new-tweet.form.comment > textarea {
  width: 95%;
  height: 45%;
}
