.new-tweet-container.update {
  width: 36em;
  min-height: 500px;
  height: fit-content;
  padding: 1.5em;
  border: none;
}

.update-tweet-header {
  position: relative;
  right: 1.7em;
  bottom: .7em;
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
}

.new-tweet.errors.update-tweet {
  position: relative;
  bottom: 1.7em;
}

.input.textarea.update-tweet {
  min-height: 20%;
  position: relative;
  bottom: 1.2em;
  
}

.preview-image-container.update-tweet {
  height: fit-content;
  min-height: fit-content;
}

.new-tweet.form.update {
  min-height: fit-content;
  position: relative;
  bottom: 1em
}
